<div class='container-fluid' ng-controller="CreateOrderCtrl">
	<div class="col-xs-3"></div>
	<div class="col-xs-6" ng-controller="TypeaheadCtrl">
		<div class="col-xs-9">
			<label>Search</label>
			<input type="text" placeholder="Search Customers"
				ng-model="customerSelected"
				typeahead="c as nameMaker(c) for c in customers  | blah:$viewValue | limitTo:10"
				typeahead-min-length='1'
				typeahead-on-select="onSelectPart($item)"
				ng-blur="blur()"
				style="width:350px;"
				class="form-control" focus>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Account Number</label>
				<pre>#: {{customerSelected.custNo || 'New'}}</pre>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" ng-model="data.customer.firstName" class="form-control">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" ng-model="data.customer.lastName" class="form-control">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Company Name</label>
				<input type="text" ng-model="data.customer.companyName" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Phone 1</label>
				<input type="text" ng-model="data.customer.phone1" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Phone 2</label>
				<input type="text" ng-model="data.customer.phone2" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Email</label>
				<input type="text" ng-model="data.customer.email" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Mailing List?</label>
				<select ng-model="data.customer.spam" ng-options="s for s in ['Yes', 'No spam']" class="form-control"></select>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Address 1</label>
				<input type="text" ng-model="data.customer.address1" class="form-control">
			</div>
			<div class="form-group">
				<label>Address 2</label>
				<input type="text" ng-model="data.customer.address2" class="form-control">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>City</label>
				<input type="text" ng-model="data.customer.city" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>State</label>
				<input type="text" ng-model="data.customer.state" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Zip</label>
				<input type="text" ng-model="data.customer.postalCode" class="form-control">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Intake Notes</label>
				<textarea class="form-control" style="resize: none" ng-model="data.note"></textarea>
			</div>
		</div>
		<div class="form-group">
			<button class="btn" ng-click="ok()">Create Order</button>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<a href="/joblist/">Customer's Orders</a>
			</div>
		</div>
	</div>
</div>