<div class='container-fluid' ng-controller="EditCustomerCtrl">
	<div class="col-xs-3"></div>
	<div class="col-xs-6" ng-controller="TypeaheadCtrl">
		<h2>Edit Customer Info</h2>
		<div class="col-xs-9">
			<label>Search</label>
			<input type="text" placeholder="Search Customers"
				ng-model="customerSelected"
				typeahead="c as nameMaker(c) for c in customers  | blah:$viewValue | limitTo:10"
				typeahead-min-length='1'
				typeahead-on-select="onSelectPart($item)"
				ng-blur="blur()"
				style="width:350px;"
				class="form-control" focus>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Account Number</label>
				<pre>{{customerSelected.custNo || ''}}</pre>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" ng-model="data.customer.firstName" class="form-control">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" ng-model="data.customer.lastName" class="form-control">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Company Name</label>
				<input type="text" ng-model="data.customer.companyName" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Phone 1</label>
				<input type="text" ng-model="data.customer.phone1" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Phone 2</label>
				<input type="text" ng-model="data.customer.phone2" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Email</label>
				<input type="text" ng-model="data.customer.email" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Mailing List?</label>
				<select ng-model="data.customer.spam" ng-options="s for s in ['Yes', 'No spam']" class="form-control"></select>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Address 1</label>
				<input type="text" ng-model="data.customer.address1" class="form-control">
			</div>
			<div class="form-group">
				<label>Address 2</label>
				<input type="text" ng-model="data.customer.address2" class="form-control">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>City</label>
				<input type="text" ng-model="data.customer.city" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>State</label>
				<input type="text" ng-model="data.customer.state" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Zip</label>
				<input type="text" ng-model="data.customer.postalCode" class="form-control">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Customer Notes</label>
				<textarea ng-model="data.customer.notes" style="resize: none" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<button class="btn" ng-click="getorders()">Get Orders</button>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Orders</label>
				<table>
					<tr ng-repeat="order in data.orders">
						<td>{{order.orderNo}}</td>
						<td>{{order.createdDate}}</td>
						<td>{{order.status}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="form-group pull-right">
			<button class="btn" ng-click="save()">Save</button>
			<button class="btn" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>