<div class='container-fluid' ng-controller="EditCustomerCtrl">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<h2>Edit Customer Info</h2>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Account Number</label>
				<pre class="form-control">{{data.customer.custNo || '???'}}</pre>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" ng-model="data.customer.firstName" class="form-control">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" ng-model="data.customer.lastName" class="form-control">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Company Name</label>
				<input type="text" ng-model="data.customer.companyName" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Phone 1</label>
				<input type="text" ng-model="data.customer.phone1" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Phone 2</label>
				<input type="text" ng-model="data.customer.phone2" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Email</label>
				<input type="text" ng-model="data.customer.email" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Mailing List?</label>
				<select ng-model="data.customer.spam" ng-options="s for s in ['Yes', 'No spam']" class="form-control"></select>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Address 1</label>
				<input type="text" ng-model="data.customer.address1" class="form-control">
			</div>
			<div class="form-group">
				<label>Address 2</label>
				<input type="text" ng-model="data.customer.address2" class="form-control">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>City</label>
				<input type="text" ng-model="data.customer.city" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>State</label>
				<input type="text" ng-model="data.customer.state" class="form-control">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Zip</label>
				<input type="text" ng-model="data.customer.postalCode" class="form-control">
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label>Customer Notes</label>
				<textarea ng-model="data.customer.notes" style="resize: none" class="form-control"></textarea>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<h2>Orders</h2>
				<table>
					<tr ng-repeat="order in data.orders">
						<td><a href="/joblist/{{order.orderNo}}">{{order.orderNo}}</a></td>
						<td><a href="/joblist/{{order.orderNo}}">{{order.createdDate | date}}</a></td>
						<td><a href="/joblist/{{order.orderNo}}">{{order.status}}</a></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="form-group">
			<button class="btn" ng-click="save()">Save</button>
		</div>
	</div>
</div>