 <div ng-controller="DailyClosingCtrl">
	<input ng-model="year">
	<input ng-model="month">
	<input ng-model="date">
	<button ng-click="acceptDate()">OK</button>
<!-- {{lastTime.date | date}}
 {{lastTime.till | currency}}-->
	<h2>Checkins</h2>
	<table>
		<tr ng-repeat="order in checkins | orderBy: 'orderNo'">
			<td>{{order.orderNo}}</td>
			<td>{{order.custName}}</td>
			<td>{{order.status}}</td>
			<td>{{order.createdDate | date}}</td>
			<td>{{order.modifiedDate | date}}</td>
			<td>{{order.closedDate | date}}</td>
			<td>{{order['Cash'] | currency}}</td>
			<td>{{order['Check'] | currency}}</td>
			<td>{{order['Credit card'] | currency}}</td>
			<td>{{order['Debit card'] | currency}}</td>
			<td>{{order['Gift certificate'] | currency}}</td>
			<td>{{order['Other'] | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ordersCreated.totals['Cash'] | currency}}</td>
			<td>{{ordersCreated.totals['Check'] | currency}}</td>
			<td>{{ordersCreated.totals['Credit card'] | currency}}</td>
			<td>{{ordersCreated.totals['Debit card'] | currency}}</td>
			<td>{{ordersCreated.totals['Gift certificate'] | currency}}</td>
			<td>{{ordersCreated.totals['Other'] | currency}}</td>
		</tr>
	</table>
	<h2>Closed Checkins</h2>
	<table>
		<tr ng-repeat="order in closedcheckins | orderBy: 'orderNo'">
			<td>{{order.orderNo}}</td>
			<td>{{order.custName}}</td>
			<td>{{order.status}}</td>
			<td>{{order.createdDate | date}}</td>
			<td>{{order.modifiedDate | date}}</td>
			<td>{{order.closedDate | date}}</td>
			<td>{{order['Cash'] | currency}}</td>
			<td>{{order['Check'] | currency}}</td>
			<td>{{order['Credit card'] | currency}}</td>
			<td>{{order['Debit card'] | currency}}</td>
			<td>{{order['Gift certificate'] | currency}}</td>
			<td>{{order['Other'] | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ordersCreated.totals['Cash'] | currency}}</td>
			<td>{{ordersCreated.totals['Check'] | currency}}</td>
			<td>{{ordersCreated.totals['Credit card'] | currency}}</td>
			<td>{{ordersCreated.totals['Debit card'] | currency}}</td>
			<td>{{ordersCreated.totals['Gift certificate'] | currency}}</td>
			<td>{{ordersCreated.totals['Other'] | currency}}</td>
		</tr>
	</table>
	<h2>Closed</h2>
	<table>
		<tr ng-repeat="order in ordersClosed | orderBy: 'orderNo'">
			<td>{{order.orderNo}}</td>
			<td>{{order.custName}}</td>
			<td>{{order.status}}</td>
			<td>{{order.createdDate | date}}</td>
			<td>{{order.modifiedDate | date}}</td>
			<td>{{order.closedDate | date}}</td>
			<td>{{order['Cash'] | currency}}</td>
			<td>{{order['Check'] | currency}}</td>
			<td>{{order['Credit card'] | currency}}</td>
			<td>{{order['Debit card'] | currency}}</td>
			<td>{{order['Gift certificate'] | currency}}</td>
			<td>{{order['Other'] | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ordersClosed.totals['Cash'] | currency}}</td>
			<td>{{ordersClosed.totals['Check'] | currency}}</td>
			<td>{{ordersClosed.totals['Credit card'] | currency}}</td>
			<td>{{ordersClosed.totals['Debit card'] | currency}}</td>
			<td>{{ordersClosed.totals['Gift certificate'] | currency}}</td>
			<td>{{ordersClosed.totals['Other'] | currency}}</td>
		</tr>
	</table>
	<h2>Open</h2>
	<table>
		<tr ng-repeat="order in ordersOpen | orderBy: 'orderNo'">
			<td>{{order.orderNo}}</td>
			<td>{{order.custName}}</td>
			<td>{{order.status}}</td>
			<td>{{order.createdDate | date}}</td>
			<td>{{order.modifiedDate | date}}</td>
			<td>{{order.closedDate | date}}</td>
			<td>{{order['Cash'] | currency}}</td>
			<td>{{order['Check'] | currency}}</td>
			<td>{{order['Credit card'] | currency}}</td>
			<td>{{order['Debit card'] | currency}}</td>
			<td>{{order['Gift certificate'] | currency}}</td>
			<td>{{order['Other'] | currency}}</td>
		</tr>
	</table>
 </div>