<!doctype html>
<html ng-app="myApp">
	<head>
		<script src="javascripts/angular.js"></script>
		<script src="javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script>
			var app = angular.module('myApp', ['ui.bootstrap']);
			app.filter( 'blah', function ( $filter ) {
				return function ( data, name ) {
					// split name into names
					var re = /(\w+)/g;
					var names = [];
					var n;
					while ( n = re.exec( name ) ) {
						names.push( n[0] );
						console.log(n[0]);;;
					}
					var result = data;
					for ( var i=0; i<names.length; ++i ) {
						result = $filter( 'filter' )( result, names[i] );
					}
					return result;
				}
			});
			app.controller( 'TypeaheadCtrl', 
				function TypeaheadCtrl($scope, $http) {
						
					getCustomers = function () {
						$http.get("/users/customers").success(function(data){
							$scope.customers = data;
						});
					};
					
					getCustomers();
					
					$scope.firstName = function(s) {
						var re = /(\w+)/g;
						var f = re.exec(s);
						if ( f ) {
							f = f[0];
							return f;
						}
					}
					$scope.lastName = function(s) {
						var re = /(\w+)/g;
						re.exec(s)
						l = re.exec(s);
						if ( l ) {
							l = l[0];
							return l;
						}
					}
					$scope.customerCopy = [];
					$scope.onSelectPart = function ( item ) {
						$scope.customerCopy = angular.copy( item );
					}
					$scope.blur = function () {
						$scope.customerCopy = [];
						$scope.customerCopy['First Name'] = 'frist';
					}
					$scope.click = function () {
						if( angular.isObject( $scope.customerSelected ) ) {
							console.log( $scope.customerSelected['Company Name'] );
						}
						console.log( $scope.customerSelected );;;
					}
				}
			);
		</script>
		<link href="stylesheets/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Project name</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<form class="navbar-form navbar-left" role="search">
								<button type="submit" class="btn btn-default" ng-click="alert()">New</button>
							</form>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">Nav header</li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="./">Default</a></li>
							<li><a href="../navbar-static-top/">Static top</a></li>
							<li><a href="../navbar-fixed-top/">Fixed top</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</div>
			<div class='container-fluid' ng-controller="TypeaheadCtrl">

				<h4>Customers</h4>
				<button class="btn" ng-click="click()">OK</button>
				<pre>Model: {{customerSelected }}</pre>
				<pre>#: {{customerSelected['Account Number']}}</pre>
				<input type="text" placeholder="Search Customers"
					ng-model="customerSelected"
					typeahead="c as c['First Name'] + ' ' + c['Last Name'] + ' (' + c['Company Name'] + ')' for c in customers  | blah:$viewValue | limitTo:10"
					typeahead-min-length='1'
					typeahead-on-select="onSelectPart($item)"
					ng-blur="blur()"
					style="width:350px;"
					class="form-control">
				<div class="form-group">
					<label>Account Number</label>
					<input type="text" ng-model="customerCopy['Account Number']" class="form-control">
				</div>
				<div class="form-group">
					<label>First Name</label>
					<input type="text" ng-model="customerCopy['First Name']" class="form-control">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" ng-model="customerCopy['Last Name']" class="form-control">
				</div>
				<div class="form-group">
					<label>Company Name</label>
					<input type="text" ng-model="customerCopy['Company Name']" class="form-control">
				</div>
				<div class="form-group">
					<label>Phone 1</label>
					<input type="text" ng-model="customerCopy['Phone 1']" class="form-control">
				</div>
			</div>
		</div>
	</body>
</html>