<div class="print-only">
	<h1>Renton Computers</h1>
</div>

		<div class="container-fluid" ng-controller="JoblistCtrl">
			<div class="col-xs-4 non-printing" id="left">
				<div class="panel" id="left-top">
					Current View
					<select ng-model="orderService.data.currentView" ng-options="user for user in allUsers" ng-change="orderService.viewChanged()"></select>
				</div>
				<ng-include src="orderService.data.jobslistView"></ng-include>
			</div>
			<div class="col-xs-8" ng-if="orderService.data.currentOrder.orderNo" ng-controller="OrderCtrl" id="right">
				<div class="well mywell" id="right-top">
					<span><h3>{{orderService.data.currentOrder.orderNo}}	{{orderService.data.currentOrder.custName}} ({{orderService.data.currentOrder.custNo}})</h3></span>
					<span>
					{{orderService.data.currentOrder.phone1 | tel}}
					{{orderService.data.currentOrder.phone2 | tel}}
					</span>
					<span class="non-printing">
						<a class="btn pull-right" ng-href="/customers/{{data.currentOrder.custNo}}">Customer Info</a>
					</span>
				</div>
				<div id="right-middle" ng-class="orderService.data.unchanged ? '' : 'yellow'">
					<div class="well mywell2">
						<table class="table table-condensed mytable" id="ordertable">
							<thead>
								<tr>
									<th>SKU</th>
									<th>Description</th>
									<th>Qty</th>
									<th>Price</th>
									<th>Ext. Price</th>
									<th class="non-printing"></th>
								</tr>
							</thead>
							<tbody ng-controller="editableParentCtrl">
								<tr ng-repeat="item in orderService.data.currentOrder.bill track by $index" ng-controller="editableCtrl">
									<td>
										<div>{{item.sku}}</div>
										<!--<div ng-if="!editing($last)">{{item.sku}}</div>
										<input ng-if="editing($last)" ng-model="item.sku" style="width: 100%">-->
									</td>
									<td>
										<div ng-if="!editing($last)">{{item.desc}}</div>
										<input ng-if="editing($last)" ng-model="item.desc" style="width: 100%"
							typeahead="d as i.desc for i in inventory | filter:$viewValue | limitTo:10"
							typeahead-min-length='1'
							typeahead-on-select="onSelectInventory($item, item)"
							class="form-control" focus>
									</td>
									<td style="width: 10%">
										<div ng-if="!editing($last)">{{item.qty}}</div>
										<input ng-if="editing($last)" ng-model="item.qty" style="width: 50px">
									</td>
									<td style="width: 10%">
										<div ng-if="!editing($last)" class="pull-right">{{item.price | currency}}</div>
										<input ng-if="editing($last)" ng-model="item.price" style="width: 50px">
									</td>
									<td class="pull-right">{{item.qty * item.price | currency}}</td>
									<td class="non-printing">
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickEdit()">Edit</button>
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td>Subtotal</td>
									<td class="pull-right">{{subtotal() | currency}}</td>
									<td class="non-printing">
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickAdd(orderService.data.currentOrder.bill, {sku:'', desc:'', qty:'', price:''})">Add</button>
									</td>
								</tr>
								<tr ng-if="data.showDetailsCheckbox">
									<td></td>
									<td></td>
									<td></td>
									<td>Tax</td>
									<td>{{tax() | currency}}</td>
									<td class="non-printing"></td>
								</tr>
							</tbody>
							<tbody ng-controller="editableDeetParentCtrl">
								<tr ng-repeat="tender in orderService.data.currentOrder.tenders track by $index" ng-if="data.showDetailsCheckbox" ng-controller="editableCtrl">
									<td>
										<a href="#" title="{{tender.date | date:'h:mm a'}}" >
											{{tender.date | date}}
										</a>
									</td>
									<td>
										<div ng-if="!editing($last)">{{tender.method}}</div>
										<select ng-if="editing($last)" ng-model="tender.method" ng-options="m for m in paymentMethods" focus>
										</select>
									</td>
									<td>
										<div ng-if="!editing($last)">{{tender.note}}</div>
										<input ng-if="editing($last)" ng-model="tender.note" style="width: 50px">
									</td>
									<td></td>
									<td>
										<div ng-if="!editing($last)" class="pull-right">{{-tender.amount | currency}}</div>
										<input ng-if="editing($last)" ng-model="tender.amount" style="width: 50px">
									</td>
									<td class="non-printing">
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickEdit()">Edit</button>
									</td>
								</tr>
								<tr on-before-print="data.showDetailsCheckbox = true;">
									<td></td>
									<td></td>
									<td>
										<div class="non-printing">
											Deets <input type="checkbox" ng-model="data.showDetailsCheckbox">
										</div>
									</td>
									<td>Total</td>
									<td>{{subtotal() + tax() - totalTender() | currency}}</td>
									<td class="non-printing">
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickAdd( orderService.data.currentOrder.tenders, {date: newDate(), method:'', note:'', amount:subtotal() + tax() - totalTender()} )">$</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="well mywell2">
						<table class="table table-condensed mytable" ng-controller="editableParentCtrl" id="notestable">
							<thead>
								<tr>
									<th>Date</th>
									<th>By</th>
									<th>Note</th>
									<th class="non-printing"><input type="checkbox" ng-model="data.showStatusChangesCheckbox"></th>
								</tr>
							</thead>
							<tbody>
								<tr  ng-repeat="note in orderService.data.currentOrder.notes track by $index" ng-show="showStatusChanges(note.note)" ng-controller="editableCtrl">
									<td>
										<a href="#" title="{{note.date | date:'h:mm a'}}">
											{{note.date | date}}
										</a>
									</td>
									<td>{{note.by}}</td>
									<td>
										<div ng-if="!editing($last)" ng-bind-html="note.note | nl2br"></div>
										<textarea ng-if="editing($last)" ng-model="note.note" style="resize: none; width: 100%" focus></textarea>
									</td>
									<td class="non-printing">
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickEdit()">Edit</button>
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td class="non-printing">
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickAdd(orderService.data.currentOrder.notes, {date: newDate(), by:orderService.data.currentUser, note:''})">Add</button>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-condensed mytable non-printing" ng-controller="editableParentCtrl">
							<thead>
								<tr>
									<th>Internal Notes</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-controller="editableCtrl">
									<td>
										<div ng-if="!editing($last)" ng-bind-html="orderService.data.currentOrder.internalNote | nl2br" class="breakall">
										</div>
										<textarea ng-if="editing($last)" ng-model="orderService.data.currentOrder.internalNote" style="resize: none; width: 100%" focus></textarea>
									</td>
									<td>
										<button ng-if="orderService.data.currentOrder.status != 'Closed'" ng-click="clickEdit()">Edit</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="well mywell non-printing" id="right-bottom">
						Status:
						<select ng-model="orderService.data.currentOrder.status" ng-options="status for status in statuses" ng-change="statusOrAssignedToChanged()"></select>
						Assigned To:
						<select ng-model="orderService.data.currentOrder.assignedTo" ng-options="user for user in allUsers" ng-change="statusOrAssignedToChanged()"></select>
						 Assigned By: {{orderService.data.currentOrder.assignedBy}}
						Tag:
						<span ng-if="orderService.data.unchanged" ng-click="orderService.data.unchanged = false">{{orderService.data.currentOrder.tag || 'None'}}</span>
						<input ng-if="!orderService.data.unchanged" ng-model="orderService.data.currentOrder.tag" focus></input>
					<span class="pull-right yellow" ng-if="!orderService.data.unchanged">
						<button ng-click="clickOk()" ng-disabled="orderService.data.unchanged">OK</button>
						<button ng-click="clickCancel()" ng-disabled="orderService.data.unchanged">Cancel</button>
					</span>
				</div>
			</div>
		</div>
