<div  id="left-bottom">
	<div class="panel">
		<h3 class="panel-heading">Assigned to Techs</h3>
		<table class="table table-condensed mytable" ng-controller="SortableTableCtrl">
			<thead>
				<tr>
					<th><a href="" ng-click="data.predicate='createdDate'">Date</a></th>
					<th><a href="" ng-click="data.predicate='orderNo'">Order</a></th>
					<th><a href="" ng-click="data.predicate='custName'">Customer</a></th>
					<th><a href="" ng-click="data.predicate='status'">Status</a></th>
					<th><a href="" ng-click="data.predicate='assignedTo'">Owner</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orderService.data.ordersOnBench | orderBy:customSorter" ng-class="[orderClass(order), urgencyClass(order)]" ng-click="clickOrder(order)" class="clickable">
					<td>{{order.createdDate | date : "M/d"}}</td>
					<td>{{order.positiveOrderNo}}</td>
					<td>{{order.custName}} {{order.tag ? '[':''}}{{order.tag}}{{order.tag ? ']':''}}</td>
					<td>{{order.status}}</td>
					<td>{{order.assignedTo}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="panel-heading">Other</h3>
		<table class="table table-condensed mytable" ng-controller="SortableTableCtrl">
			<thead>
				<tr>
					<th><a href="" ng-click="data.predicate='createdDate'">Date</a></th>
					<th><a href="" ng-click="data.predicate='orderNo'">Order</a></th>
					<th><a href="" ng-click="data.predicate='custName'">Customer</a></th>
					<th><a href="" ng-click="data.predicate='status'">Status</a></th>
					<th><a href="" ng-click="data.predicate='assignedTo'">Owner</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orderService.data.ordersOther | orderBy:customSorter" ng-class="[orderClass(order), urgencyClass(order)]" ng-click="clickOrder(order)" class="clickable">
					<td>{{order.createdDate | date : "M/d"}}</td>
					<td>{{order.positiveOrderNo}}</td>
					<td>{{order.custName}} {{order.tag ? '[':''}}{{order.tag}}{{order.tag ? ']':''}}</td>
					<td>{{order.status}}</td>
					<td>{{order.assignedTo}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
